# GitHub CODEOWNERS file
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Rules are evaluated from top to bottom, with later rules taking precedence.

# Default owners for everything in the repo
* @NVIDIA/ncp-isv-lab-maintainer
